<table class="table table-bordered">
	<thead>
		<tr>
			<td>Users</td>
			<td>Surveys</td>
			<td>Responses</td>			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @users_count %></td>
			<td><%= @surveys_count %></td>
			<td><%= @responses_count %></td>
		</tr>
	</tbody>
</table>