<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %> would like you to answer 5 questions:</h1>
    <p>
      <a href="<%= @url %>"><h3>Go to survey</h3></a>
    </p>
  </body>
</html>