<div class="row">
    <div class="col-md-5 col-md-offset-4">
<h1>Thank you!</h1>
<h1>Would you like to create surveys?</h1>
<%= link_to 'Sign up', signin_path, class: 'btn btn-large btn-primary' %>
</div>
</div>